<p id="demo"></p>
<script>
var myObj, i, j, x = "";
myObj = {
    "cars": [
        { "name":"Ford", "models":[ "Fiesta", "Focus", "Mustang" ] },
        { "name":"BMW", "models":[ "320", "X3", "X6" ] },
        { "name":"Fiat", "models":[ "500", "Panda" ] }
    ]
}
for (i in myObj.cars) {
    x += "<h3>" + myObj.cars[i].name + "</h3>";
    for (j in myObj.cars[i].models) {
        x += "<p>" + myObj.cars[i].models[j] + "</p>";
    }
}
document.getElementById("demo").innerHTML = x;
</script>