<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
	<% include scripts.ejs %>
</head>
<body>
	<% include navbar.ejs %>
	<div class="container">
	<h1>Testing</h1>
	<% include data.ejs %>
	</div>
</body>
</html>