.navbar-brand {
	background: -webkit-linear-gradient(#efff00, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}
footer {
  padding: 10px;
  color: #777;
  margin: 50px 0;
}
footer a {
  color: #777;
}
footer a:active, footer a:focus, footer a:hover {
  color: #1b86ca;
}
footer span.copyright {
  line-height: 40px;
}
ul.social-buttons li a {
  display: block;
  background-color: #777;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
ul.social-buttons li.Twitter a:active, ul.social-buttons li.Twitter a:focus, ul.social-buttons li.Twitter a:hover {
  background-color: #1da1f2;
}
ul.social-buttons li.Facebook a:active, ul.social-buttons li.Facebook a:focus, ul.social-buttons li.Facebook a:hover {
  background-color: #3b5998;
}
ul.social-buttons li.LinkedIn a:active, ul.social-buttons li.LinkedIn a:focus, ul.social-buttons li.LinkedIn a:hover {
  background-color: #1a84bc;
}
ul.social-buttons {
    margin-bottom: 0;
}